apiVersion: v1
kind: ServiceAccount
metadata:
  name: url-shortener-sa
---
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: secret-reader
rules:
- apiGroups: [""]
  resources: ["secrets"]
  verbs: ["get", "list"] # 'list' is needed for the discovery demo
---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: url-shortener-read-secrets
subjects:
- kind: ServiceAccount
  name: url-shortener-sa
roleRef:
  kind: Role
  name: secret-reader
  apiGroup: rbac.authorization.k8s.io
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: url-shortener
spec:
  replicas: 1
  selector:
    matchLabels:
      app: url-shortener
  template:
    metadata:
      labels:
        app: url-shortener
    spec:
      serviceAccountName: url-shortener-sa
      containers:
      - name: flask-app
        imagePullPolicy: Always
        image: quay.io/vuln/url-shortener:latest
        ports:
        - containerPort: 8080
        env:
        - name: SECRET_PREFIX
          value: "s-"