apiVersion: tekton.dev/v1beta1
kind: Pipeline
metadata:
  name: rhacs-simple-demo-pipeline
  namespace: pipeline-demo
spec:
  tasks:
  - name: rhacs-image-scan
    retries: 0
    timeout: "2m"
    params:
    - name: rox_central_endpoint
      value: roxsecrets
    - name: rox_api_token
      value: roxsecrets
    - name: image
      value: quay.io/vuln/asset-cache:latest
    - name: output_format
      value: table
    - name: insecure-skip-tls-verify
      value: "true"
    taskRef:
      kind: Task
      name: rhacs-image-scan
  - name: rhacs-image-check
    params:
    - name: rox_central_endpoint
      value: roxsecrets
    - name: rox_api_token
      value: roxsecrets
    - name: image
      value: quay.io/vuln/asset-cache:latest
    - name: insecure-skip-tls-verify
      value: "true"
    runAfter:
    - rhacs-image-scan
    taskRef:
      kind: Task
      name: rhacs-image-check
  - name: rhacs-deployment-check
    params:
    - name: rox_central_endpoint
      value: roxsecrets
    - name: rox_api_token
      value: roxsecrets
    - name: deployment
      value: YXBpVmVyc2lvbjogdjEKa2luZDogU2VydmljZUFjY291bnQKbWV0YWRhdGE6CiAgbmFtZTogYXNzZXQtY2FjaGUKICBuYW1lc3BhY2U6IGZyb250ZW5kCiAgbGFiZWxzOgogICAgYXBwOiBhc3NldC1jYWNoZQoKLS0tCmFwaVZlcnNpb246IHJiYWMuYXV0aG9yaXphdGlvbi5rOHMuaW8vdjEKa2luZDogQ2x1c3RlclJvbGVCaW5kaW5nCm1ldGFkYXRhOgogIG5hbWU6IGFzc2V0LWNhY2hlCiAgbGFiZWxzOgogICAgYXBwOiBhc3NldC1jYWNoZQpyb2xlUmVmOgogIGFwaUdyb3VwOiByYmFjLmF1dGhvcml6YXRpb24uazhzLmlvCiAga2luZDogQ2x1c3RlclJvbGUKICBuYW1lOiBjbHVzdGVyLWFkbWluCnN1YmplY3RzOgogIC0ga2luZDogU2VydmljZUFjY291bnQKICAgIG5hbWU6IGFzc2V0LWNhY2hlCiAgICBuYW1lc3BhY2U6IGZyb250ZW5kCgotLS0KIyBEZXBsb3ltZW50IG5hbWVkICJhc3NldC1jYWNoZSIKIyBMaXN0ZW5zIG9uIDo4MDgwCiMgVnVsbmVyYWJsZSB0byBzdHJ1dHMKIyBIYXMgU1NIIGtleXMgbW91bnRlZAphcGlWZXJzaW9uOiBhcHBzL3YxCmtpbmQ6IERlcGxveW1lbnQKbWV0YWRhdGE6CiAgbmFtZTogYXNzZXQtY2FjaGUKICBuYW1lc3BhY2U6IGZyb250ZW5kCiAgbGFiZWxzOgogICAgYXBwOiBhc3NldC1jYWNoZQogICAgYXBwLmt1YmVybmV0ZXMuaW8vcGFydC1vZjogZnJvbnRlbmQKICBhbm5vdGF0aW9uczoKICAgICJhZG1pc3Npb24uc3RhY2tyb3guaW8vYnJlYWstZ2xhc3MiOiAiamlyYS0zNDIzIgpzcGVjOgogIHJlcGxpY2FzOiAxCiAgc2VsZWN0b3I6CiAgICBtYXRjaExhYmVsczoKICAgICAgYXBwOiBhc3NldC1jYWNoZQogIHRlbXBsYXRlOgogICAgbWV0YWRhdGE6CiAgICAgIGxhYmVsczoKICAgICAgICBhcHA6IGFzc2V0LWNhY2hlCiAgICBzcGVjOgogICAgICBzZXJ2aWNlQWNjb3VudE5hbWU6IGFzc2V0LWNhY2hlCiAgICAgIHZvbHVtZXM6CiAgICAgICAgLSBuYW1lOiBzc2gta2V5cwogICAgICAgICAgc2VjcmV0OgogICAgICAgICAgICBzZWNyZXROYW1lOiBzc2gta2V5cwogICAgICBjb250YWluZXJzOgogICAgICAgIC0gaW1hZ2U6IHF1YXkuaW8vdnVsbi9hc3NldC1jYWNoZTpsYXRlc3QKICAgICAgICAgIGltYWdlUHVsbFBvbGljeTogQWx3YXlzCiAgICAgICAgICBuYW1lOiBhc3NldC1jYWNoZQogICAgICAgICAgcG9ydHM6CiAgICAgICAgICAgIC0gY29udGFpbmVyUG9ydDogMjIKICAgICAgICAgICAgICBwcm90b2NvbDogVENQCiAgICAgICAgICAgIC0gY29udGFpbmVyUG9ydDogODA4MAogICAgICAgICAgICAgIHByb3RvY29sOiBUQ1AKICAgICAgICAgIHZvbHVtZU1vdW50czoKICAgICAgICAgICAgLSBuYW1lOiBzc2gta2V5cwogICAgICAgICAgICAgIG1vdW50UGF0aDogIi9yb290Ly5zc2giCiAgICAgICAgICAgICAgcmVhZE9ubHk6IGZhbHNlCiAgICAgICAgICBzZWN1cml0eUNvbnRleHQ6CiAgICAgICAgICAgIGNhcGFiaWxpdGllczoKICAgICAgICAgICAgICBhZGQ6IFsiU1lTX0FETUlOIl0KICAgICAgICAgICAgcHJpdmlsZWdlZDogdHJ1ZQogICAgICAgICAgZW52OgogICAgICAgICAgICAtIG5hbWU6IERCX1NFUlZJQ0VfQUREUgogICAgICAgICAgICAgIHZhbHVlOiAiZXh0ZXJuYWwtZGIiCiAgICAgICAgICAgIC0gbmFtZTogSV9IQVZFX0FfU0VDUkVUCiAgICAgICAgICAgICAgdmFsdWU6ICJ0cnVlIgoKLS0tCiMgU2VydmljZSBuYW1lZCAiYXNzZXQtY2FjaGUtc2VydmljZSIKIyBMaXN0ZW5zIG9uIDo4MDgwCmFwaVZlcnNpb246IHYxCmtpbmQ6IFNlcnZpY2UKbWV0YWRhdGE6CiAgbGFiZWxzOgogICAgYXBwOiBhc3NldC1jYWNoZQogIG5hbWU6IGFzc2V0LWNhY2hlLXNlcnZpY2UKICBuYW1lc3BhY2U6IGZyb250ZW5kCnNwZWM6CiAgcG9ydHM6CiAgICAtIHBvcnQ6IDgwODAKICAgICAgcHJvdG9jb2w6IFRDUAogICAgICB0YXJnZXRQb3J0OiA4MDgwCiAgICAgIG5hbWU6IGh0dHAKICBzZWxlY3RvcjoKICAgIGFwcDogYXNzZXQtY2FjaGUKICB0eXBlOiBDbHVzdGVySVA=
    - name: insecure-skip-tls-verify
      value: "true"
    runAfter:
    - rhacs-image-scan
    taskRef:
      kind: Task
      name: rhacs-deployment-check
    workspaces:
        - name: source
          workspace: source
  workspaces:
    - name: source