apiVersion: compliance.openshift.io/v1alpha1
kind: CustomRule
metadata:
  name: detect-privileged-pods
  namespace: openshift-compliance
spec:
  title: Detect Privileged Pods & HostPID
  description: Detect pods created with privileged containers or hostPID enabled.
  failureReason: Pod created with privileged container or hostPID.
  severity: high
  id: detect_privileged_pods
  checkType: Platform
  scannerType: CEL
  inputs:
    - name: pods
      kubernetesInputSpec:
        apiVersion: v1
        resource: pods
    - name: namespaces
      kubernetesInputSpec:
        apiVersion: v1
        resource: namespaces
  expression: |
    pods.items.all(pod,
      (
        !has(pod.metadata.namespace) ||
        !namespaces.items.exists(ns,
          ns.metadata.name == pod.metadata.namespace &&
          has(ns.metadata.labels) &&
          ns.metadata.labels.exists(k, k == 'custom.security/enforce') &&
          ns.metadata.labels['custom.security/enforce'] == 'true'
        ) ||
        (
          (!has(pod.spec.hostPID) || pod.spec.hostPID != true) &&
          (!pod.spec.containers.exists(c,
            has(c.securityContext) &&
            has(c.securityContext.privileged) &&
            c.securityContext.privileged == true
          ))
        )
      )
    )
